<% if flash[:message] %>
    <div class="notice"><%= flash[:message] %></div>
  <% end %>
<h1>Welcome to My Profile</h1>
<%=link_to 'myProjects',controller: 'projects' %>
<%=link_to 'blog',allarticles_path %>
<%=link_to 'showmyprofile',student_path(session[:student_id]) %>